<html>

<link rel="stylesheet" href="../vendor/css/angular-material.min.css">
<link rel="stylesheet" href="css/popup.css">

<body ng-app="ScriptBucket" ng-controller="PopupCtrl as popup" ng-csp=""
      class="layout layout-column">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Script Bucket</h2>
            <span flex></span>
            <md-button tabindex="-1" ng-controller="UploadCtrl as upload"
                       ngf-select="upload.chooseFile($file)" ngf-pattern="'.js'"
                       ngf-accept="'text/javascript'">
                <p>Upload</p>
            </md-button>
            <ng-md-icon icon="settings" aria-label="Settings menu" class="icon-white"
                        ng-click="popup.openSettings()">
            </ng-md-icon>
        </div>
    </md-toolbar>

    <md-content flex>
        <md-list-item aria-label="Inject {{script.name}}" ng-repeat="script in popup.scripts" ng-click="popup.sendScript(script)">
            <h3 ng-bind="script.name"></h3>
            <ng-md-icon icon="clear" class="md-secondary icon-red"
                        aria-label="Delete {{script.name}}"
                        ng-click="popup.deleteScript(script)"></ng-md-icon>
        </md-list-item>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-z3" md-component-id="right">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
            </div>
        </md-toolbar>
        <div ng-include src="'partials/settings.html'"></div>
    </md-sidenav>

</body>

<script src="js/bundle.js"></script>

</html>